<div id="content" class="col-md-12 center-column content-with-background  {{page.title}}">
  <div class="row">
    <div class="col-sm-12">
      <div class="review description">
      {{page.content}}
      </div>
      <script src="https://widget.reviews.co.uk/rich-snippet-reviews-widgets/dist.js"></script>
<div id="full-page-widget" style="width: 100%;"></div>
<script>// <![CDATA[
richSnippetReviewsWidgets('full-page-widget', {
        store: 'mokee',
        widgetName: 'vertical',
        primaryClr: '#FFCD00',
        layout:'fullWidth',
        height: 500,
        numReviews: 1000
    });
// ]]></script>
    </div>
  </div>
</div>